<h2>Change user role</h2>


<form method="POST" action="/users/change-role">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <select name="role">
    <option value="">Select the role</option>
    <option value="admin">Admin</option>
    <option value="standard">Standard</option>
    <option value="premium">Premium</option>
  </select>

  <input name="email" type="email" placeholder="Enter email of user">
</form>